.wrapper
  .headpiece
    %h1 Шлюхолов v2
    .head_animate
    .start_button
  .whore-counter ШЛЮХ: 0
  .live-counter
    %span x 3
  .catcher.right-direction
  .catcher-basket.right-direction
  .catcher-head.right-direction
  %audio{:autoplay => "", :loop => "", :src => "audio/megatrack.mp3"}
  .finish
    .total_whore ШЛЮХ: 0
    .total_time Время игры:
    %ul.scores

    /
      <div class="developers">
      <p>Project Manager:  Seich'</p>
      <p>Developer: Tatskiy A.</p>
      <p>Junior: Bagaadziev S.</p>
      </div>
    .content
      .visible
        %p
          Developer
        %ul
          %li
            Tsybulnikov A.
          %li
            Tatskiy A.
          %li
            Bagaadziev S.